.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
  }
  
  .mt-6 {
    margin-top: 24px;
  }
  
  .space-y-4 > * + * {
    margin-top: 16px;
  }
  
  .text-gray-500 {
    color: #6b7280;
  }
  
  .text-center {
    text-align: center;
  }
  
  .fixed {
    position: fixed;
  }
  
  .inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .bg-black {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .bg-opacity-30 {
    opacity: 0.3;
  }
  
  .flex {
    display: flex;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .items-center {
    align-items: center;
  }
  
  .p-4 {
    padding: 16px;
  }
  
  .loading-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8ca9c6;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 12px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  
  
  .task-actions {
    display: flex;
    gap: 8px;
  }
  

  